[Unit]
Description=GPG Agent
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStartPre=/usr/bin/gpgconf --kill gpg-agent
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support --log-file %h/.gnupg/agent.log
ExecStop=/usr/bin/gpgconf --kill gpg-agent
Restart=on-abort

[Install]
WantedBy=default.target
