[Unit]
Description=Run rsync-backup.service every hour

[Timer]
OnBootSec=30min
OnUnitActiveSec=1hour
Persistent=true

[Install]
WantedBy=timers.target
