[Unit]
Description=File Sync
After=network.target

[Service]
Environment=STNORESTART=yes
ExecStart=/usr/bin/syncthing -no-browser
Restart=always

[Install]
WantedBy=default.target
